@import '../variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
  overflow: hidden;
  margin: 0 5rem;

  .hero-background {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/background.jpg');

    .hero-content {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .hero-title {
        font-weight: bolder;
        color: $dark;
      }

      .hero-subtitle {
        font-weight: bold;
        color: $dark-alt;
      }
    }
  }
  .random-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;

    .random-content {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    .random-button {
      width: auto;
    }
  }
}

@media (min-width: $layout-breakpoint-small) {
  .random-container {
    flex-direction: row !important;
  }
}
