@import '../variables';

.container {
  display: flex;
  flex-direction: column;
  margin: 0 5rem;
  align-items: center;
  padding-top: 4rem;
  background-image: url('/backgroundSearch.jpg');
  height: 100vh;
  background-size: cover;

  .no-matching {
    margin-top: 2rem;
    color: $primary;
  }
  .bar {
    display: flex;
    width: 100%;
    max-width: 50rem;
    min-width: 20rem;
    background-color: $primary;
    align-items: center;
    border-radius: 6rem;
    padding: 0.6rem;
    border: none;

    input {
      background: transparent;
      flex: 1;
      border: 0;
      outline: 0;
      padding: 1rem 0 1rem 1rem;
      font-size: 1.2rem;
      color: $light;

      &::placeholder {
        color: $light;
        opacity: 0.5;
      }
    }
    .search-button {
      border: 0;
      cursor: pointer;
      background-color: inherit;
    }
  }
  .results {
    margin-top: 2rem;
  }
}
