@import '../variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
  overflow: hidden;

  .hero-background {
    height: 100vh;
    width: 65vw;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/background.jpg');
    margin: 0 5rem;
  }

  .random-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem;

    .random-content {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      color: $dark;
    }
    .random-button {
      background-color: $primary;
      max-width: 10rem;
      align-self: center;
      border-radius: 0.5rem;

      &:hover {
        background-color: $primary-alt;
      }
    }
  }
}

@media (min-width: $layout-breakpoint-small) {
  .random-container {
    flex-direction: row !important;
  }
}
