@import '../variables';

.container {
  display: flex;
  flex-direction: column;
  margin: 0 5rem;
  align-items: center;
  padding-top: 4rem;
  height: auto;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;

  .hero-background {
    margin: 5rem 0;
  }
  .meal-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    overflow: auto;
  }
}
