@import '../variables';

.container {
  display: flex;
  flex-direction: column;
  padding: 4rem 5rem;
  align-items: center;
  height: auto;
  min-width: 100vw;
  min-height: 100vh;

  .hero-background {
    margin: 3rem 0;
  }
  .meal-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
