@import '../variables';

.container {
  display: flex;
  flex-direction: column;
  margin: 0 5rem;
  align-items: center;
  padding-top: 4rem;
  height: auto;
  min-width: 100vw;
  min-height: 100vh;
  background-size: cover;
  min-width: 20rem;
  background-image: url('/backgroundCategory.jpg');

  .hero-section {
    margin: 5rem 0;
  }

  .categories {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 2rem;

    .category {
      background-color: $primary;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6rem;
      height: 6rem;
      border-radius: 1rem;

      .category-link {
        text-decoration: none;
        padding: 1rem;
        transition: all 400ms;
        color: $light;

        &:hover {
          color: $light-alt;
        }

        .category-name {
          font-size: 0.7rem;
          transition: all 400ms;

          &:hover {
            color: $light-alt;
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
