$button-background-color: #db1414;
$background-color: #ffc0cb;
$text-color: #000000;
$primary: #de4aaa;
$primary-alt: #c5224e;
$grey: #64748b;
$dark: #333d79;
$dark-alt: #333d79;
$dark-alt-hover: #334222;
$light: #f1f5f9;
$light-alt: #ffffff;
$sidebar-width: 10rem;
$layout-breakpoint-small: 960px;
