$button-background-color: rgb(219, 20, 20);
$background-color: #ffc0cb;
$text-color: black;
$primary: #de4aaa;
$primary-alt: #c5224e;
$grey: #64748b;
$dark: #333d79;
$dark-alt: #333d79;
$dark-alt-hover: #334222;
$light: #f1f5f9;
$sidebar-width: 10rem;
$layout-breakpoint-small: 960px;
