$button-background-color: rgb(219, 20, 20);
$background-color: pink;
$text-color: black;
$primary: #de4aaa;
$primary-alt: #22c55e;
$grey: #64748b;
$dark: #1e293b;
$dark-alt: #334155;
$dark-alt-hover: #334222;
$light: #f1f5f9;
$sidebar-width: 10rem;
